<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class = "loginNav">
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}           
        </nav>

    </header>
    <main>


    <div class = "login">
        <h1>Register User</h1>

    <form action="/register" method="POST">

        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname" >Last Name:</label>
        <input type="text" name="lname">
        <label for="email" >Email:</label>
        <input type="text" name="email">
        <label for="password" >Password:</label>
        <input type="text" name="password">
        <label for="confirm" >Confirm Password:</label>
        <input type="text" name="confirm">


        <input type="submit" value="Register">
    </form>
    </div>    
        <div class = "login">
        <h1>Log In</h1>

        <form action="/login" method="POST">

            <label for="loginEmail">Email:</label>
            <input type="text" name="loginEmail">
            <label for="loginPassword" >Password:</label>
            <input type="text" name="loginPassword">
            <input type="submit" value="Login">
        </form>

    </div>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>